@page "/Ladder"
@using MongoDB.Bson

<div>
  <h1>Lists played this season</h1>
  <hr class="my-4">
  <table class="table table-striped">
    <thead>
      <th style="max-width: 3rem">Rank</th>
      <th>Name</th>
      <th style="max-width: 8rem">Mmr</th>
      <th style="max-width: 5rem">Wins</th>
      <th style="max-width: 5rem">Losses</th>
      <th style="max-width: 5rem">Draws</th>
      <th style="max-width: 5rem">Matches</th>
    </thead>
    <tbody>
    @foreach (var item in _enlistedPlayersOriginal.Select((value, index) => new {value, index}))
    {
      <tr @onclick="() => GoToPlayer(item.value.Id)" class="cursor">
        <td>@(item.index + 1).</td>
        <td>@item.value.Name</td>
        <td>@item.value.Mmr</td>
        <td class="won">@item.value.Wins</td>
        <td class="lost">@item.value.Losses</td>
        <td class="draw">@item.value.Draws</td>
        <td>@item.value.MatchCount</td>
      </tr>
    }
    </tbody>
  </table>
</div>

@inject IRankingReadmodelRepository _playerRepository
@inject NavigationManager _navigation

@code {
  private List<PlayerRankingReadModel> _enlistedPlayersOriginal = new();

  protected override async Task OnInitializedAsync()
  {
    _enlistedPlayersOriginal = await _playerRepository.LoadAllRanked();
  }

  private void GoToPlayer(ObjectId playerId)
  {
    _navigation.NavigateTo($"player/{playerId}");
  }
}