@page "/Ladder"
@using MongoDB.Bson
@using FadingFlame.Players

<div>
  <h1>Fading Flame global ranking</h1>
  <div class="blockquote-footer my-3">
    You will only be ranked at least one game
  </div>
  <table class="table table-striped table-hover">
    <thead>
      <th style="max-width: 3rem">Rank</th>
      <th>Name</th>
      <th>Points</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Draws</th>
      <th>Winrate</th>
      <th>Matches</th>
      <th>Country</th>
    </thead>
    <tbody>
    @foreach (var item in _enlistedPlayersOriginal.Select((value, index) => new {value, index}))
    {
      <tr @onclick="() => GoToPlayer(item.value.Id)" class="cursor">
        <td>@(item.index + 1).</td>
        <td>@item.value.Name</td>
        <td>@item.value.Mmr</td>
        <td class="won">@item.value.Wins</td>
        <td class="lost">@item.value.Losses</td>
        <td class="draw">@item.value.Draws</td>
        <td>@((int) item.value.WinRate)%</td>
        <td>@item.value.MatchCount</td>
        <td>
          @if (item.value.Location != null)
          {
            <span class="@($"ms-2 flag-container flag-icon flag-icon-{item.value.Location?.Country.TwoLetterISORegionName.ToLower()}")"></span>
            <span>@(_geoLocationService.GetTimeDiff(_loggedInUserState.CurrentUserTime, item.value.Location.TimezoneRaw).Hours)h</span>
          }
        </td>
      </tr>
    }
    </tbody>
  </table>
</div>

@inject IRankingReadmodelRepository _playerRepository
@inject NavigationManager _navigation
@inject IGeoLocationService _geoLocationService
@inject LoggedInUserState _loggedInUserState

@code {
  private List<PlayerRankingReadModel> _enlistedPlayersOriginal = new();

  protected override async Task OnInitializedAsync()
  {
    _enlistedPlayersOriginal = await _playerRepository.LoadAllRanked();
  }

  private void GoToPlayer(ObjectId playerId)
  {
    _navigation.NavigateTo($"player/{playerId}");
  }
}