@page "/league/{leagueId}/match/{matchId}"
@using MongoDB.Bson
@using FadingFlame.Leagues
@using FadingFlame.Players
@using FadingFlame.UserAccounts
@using Microsoft.AspNetCore.Components

@if (_league == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    if (CanEditMatch)
    {
        
        if (_matchWasFinished)
        {
            <div class="alert alert-danger" role="alert">
                The match was allready reported, you can not alter it anymore
            </div>
        }
        else
        {
            <EditForm Model="@_model" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator/>
            <div class="row align-items-start">
                <div class="col form-group">
                    <label>Victory Points @_name1 :</label>
                    <InputNumber @bind-Value="_model.Player1.VictoryPoints" class="form-control"/>
                    <ValidationMessage For="@(() => _model.Player1.VictoryPoints)"/>
                </div>
                <div class="col form-group">
                    <label>Victory Points @_name2 :</label>
                    <InputNumber @bind-Value="_model.Player2.VictoryPoints" class="form-control"/>
                    <ValidationMessage For="@(() => _model.Player2.VictoryPoints)"/>
                </div>
            </div>
            <div class="form-group">
                <label>Secondary Objective:</label> <br/>
                <div class="ml-4">
                    <InputRadioGroup @bind-Value="_model.SecondaryObjective" class="form-check">
                        @foreach (var option in Enum.GetValues(typeof(SecondaryObjectiveState)))
                        {
                            <InputRadio Value="option" class="form-check-input" id="@($"second-{option}")"/>
                            <label class="form-check-label" for="@($"second-{option}")">
                                @GetString(option is SecondaryObjectiveState ? (SecondaryObjectiveState)option : SecondaryObjectiveState.draw)
                            </label>
                            <br/>
                        }
                    </InputRadioGroup>
                    <ValidationMessage For="@(() => _model.SecondaryObjective)"/>
                </div>
            </div>
            <button disabled="@_loading" class="btn btn-primary">
                @if (_loading)
                {
                    <span class="spinner-border spinner-border-sm mr-1"></span>
                }
                Report Game
            </button>
            </EditForm>
        }
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            You are not allowed to edit the match
        </div>
    }
}

@inject NavigationManager _navigation
@inject ILeagueRepository _leagueRepository
@inject IPlayerRepository _playerRepository
@inject UserState _userState

@code {
    [Parameter]
    public string LeagueId { get; set; }
    [Parameter]
    public string MatchId { get; set; }
    private MatchResultDto _model = new();
    private League _league;
    private SeasonArmy _listsOfLoggedInPlayer;
    private int _selectedList;
    private bool _loading;
    private string _name1;
    private string _name2;
    private string _selectedListPlayer1;
    private string _selectedListPlayer2;
    private string _selectedListAsString;
    private bool _matchWasFinished;
    private bool _allPlayersSelectedList;
    private bool _selectingList;
    private bool Player1LoggedIn => _model.Player1.Id == _userState.LoggedInPlayerId;
    private bool Player2LoggedIn =>_model.Player2.Id == _userState.LoggedInPlayerId;
    private bool CanEditMatch => Player1LoggedIn || Player2LoggedIn;

    protected override void OnInitialized()
    {
        _userState.UserLoggedIn += (_, _) => StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        if (ObjectId.TryParse(LeagueId, out var realLeagueId))
        {
            var league = await _leagueRepository.Load(realLeagueId);
            if (league == null)
            {
                _navigation.NavigateTo("notfound");
            }
            else
            {
                var match = league.GameDays
                    .SelectMany(g => g.Matchups)
                    .SingleOrDefault(m => m.MatchId.ToString() ==  MatchId);
                if (match == null)
                {
                    _navigation.NavigateTo("notfound");
                }
                else
                {
                    var player1 = await _playerRepository.Load(match.Player1);
                    var player2 = await _playerRepository.Load(match.Player2);

                    _model.Player1.Id = match.Player1;
                    _model.Player1.Id = match.Player1;
                    _model.Player2.Id = match.Player2;

                    _name1 = player1.DisplayName;
                    _name2 = player2.DisplayName;
                    _model.MatchId = match.MatchId;
                    _matchWasFinished = match.Result != null;
                    _allPlayersSelectedList = match.PlayersSelectedList;
                    _selectedListPlayer1 = match.Player1List;
                    _selectedListPlayer2 = match.Player2List;
                    _league = league;

                    if (Player1LoggedIn)
                    {
                        _listsOfLoggedInPlayer = player1.Army;
                        _selectedListAsString = match.Player1List;
                    }

                    if (Player2LoggedIn)
                    {
                        _listsOfLoggedInPlayer = player2.Army;
                        _selectedListAsString = match.Player2List;
                    }

                    StateHasChanged();
                }
            }
        }
        else
        {
            _navigation.NavigateTo("notfound");
        }
    }

    private async Task OnValidSubmit()
    {
        if (CanEditMatch)
        {
            _loading = true;
            if (_league != null)
            {
                _league.ReportGame(_model);
                await _leagueRepository.Update(_league);
            }

            _loading = false;
            _navigation.NavigateTo($"league/{LeagueId}");
        }
    }

    private string GetString(SecondaryObjectiveState state)
    {
        return state switch
        {
            SecondaryObjectiveState.player1 => _name1,
            SecondaryObjectiveState.player2 => _name2,
            _ => "draw"
        };
    }

    private async Task SelectListForMatch()
    {
        _selectingList = true;
        if (Player1LoggedIn)
        {
            UpdateSelectedList(_model.Player1.Id);
        }

        if (Player2LoggedIn)
        {
            UpdateSelectedList(_model.Player2.Id);
        }

        await _leagueRepository.Update(_league);
        var matchup = _league.GetMatchup(new ObjectId(MatchId));
        _allPlayersSelectedList = matchup.PlayersSelectedList;
        _selectedListPlayer1 = matchup.Player1List;
        _selectedListPlayer2 = matchup.Player2List;
        _selectingList = false;
    }

    private void UpdateSelectedList(ObjectId playerId)
    {
        if (_selectedList == 1)
        {
            _league.SelectList(playerId, new ObjectId(MatchId), _listsOfLoggedInPlayer.List1.Name);
            _selectedListAsString = _listsOfLoggedInPlayer.List1.Name;
        }

        if (_selectedList == 2)
        {
            _league.SelectList(playerId, new ObjectId(MatchId), _listsOfLoggedInPlayer.List2.Name);
            _selectedListAsString = _listsOfLoggedInPlayer.List2.Name;
        }
    }

}