@using FadingFlame.Players
<div class="card-body">
    <div class="row align-items-start">
        <div class="col">
            <div class="form-group">
                <label>Old List: </label>
                <div><b>@List.Faction.ToCamelCaseString()</b></div>
                <div><b>@List.Name</b></div>
            </div>
            <hr class="my-3">
            <div class="form-group">
                <div style="white-space:pre-wrap;">@List.List</div>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label>New List: </label>
                <div><b>@List.Faction.ToCamelCaseString()</b></div>
                <div><b>@List.Name</b></div>
            </div>
            <hr class="my-3">
            <div class="form-group">
                <div style="white-space:pre-wrap;">@List.ProposedListChange</div>
            </div>
        </div>
    </div>
    <button disabled="@Loading" type="button" class="btn btn-success" @onclick="OnApproveListChange">
        @if (Loading)
        {
            <span class="spinner-border spinner-border-sm mr-1"></span>
        }
        Approve
    </button>
    <button disabled="@Loading" type="button" class="btn btn-danger" @onclick="OnRejectListChange">
        @if (Loading)
        {
            <span class="spinner-border spinner-border-sm mr-1"></span>
        }
        Reject
    </button>
</div>

@code {
    [Parameter]
    public GameList List { get; set; }
    [Parameter]
    public bool Loading { get; set; }
    [Parameter]
    public EventCallback OnApproveListChange { get; set; }
    [Parameter]
    public EventCallback OnRejectListChange { get; set; }
}